<app-header></app-header>
 <navigation [pageName]="'Yazarlar'"></navigation>
<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-12 contentbar mb-4">
        <h6 class="color-green d-inline-block mt-1 mb-4">Yazarlar</h6>
        <div class="clearfix"></div>

        <div class="row">
          <div class="col-12 mt-4" *ngFor="let item of authors">
            <b>{{item?.character}}</b>
            <ng-container *ngFor="let alphabeticItem of item?.alphabeticalList">
              <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <a href="javascript:void(0);"
                  class="d-inline-block text-truncate w-100 pr-2 pt-2 pb-1"
                  routerLink="/yazar-detay/{{alphabeticItem?.id}}" >
                  {{alphabeticItem?.name}} {{alphabeticItem?.surName}}
                  </a
                >
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
