@model ELibrary.API.Models.AuthorModel

@{
    ViewData["Title"] = "Save";
}

<div class="widget">
    <div class="widget-heading">
        <h3 class="widget-title">Yazar Ekleme</h3>
    </div>
    <div class="widget-body">
        <form asp-action="Save" method="post" novalidate="novalidate">
            <div class="form-group">
                <label class="control-label">Adı</label>
                <input asp-for="Name" class="form-control" placeholder="Adı" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Soyadı</label>
                <input asp-for="Surname" placeholder="Soyadı" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Biyografi</label>
                <textarea asp-for="Biography" rows="4" cols="50" id="txtWebsite" type="text" placeholder="Yazar hakkında.." class="form-control">
                      </textarea>
            </div>
            <div class="form-group">
                <label>Doğum tarihi</label>
                <div class="input-group">
                    <input asp-for="Birthdate" type="text" placeholder="Doğum tarihi" data-rule-required="true" data-rule-minlength="8" data-rule-date="true" class="form-control Birthdate"><span class="input-group-addon"><i class="ti-calendar"></i></span>
                </div>
            </div>
            <div class="form-group">
                <label>Cinsiyet</label>
                <div class="radio">
                    <label>
                        <input type="radio" asp-for="Gender" value="1" data-rule-required="true"> Kadın
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" asp-for="Gender" value="0"> Erkek
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label for="fulImage">Image upload</label>
                <input id="fulImage" type="file" name="fulImage" data-buttontext="Choose file" data-buttonname="btn-outline btn-primary" data-iconname="ti-image" data-rule-required="true" data-rule-accept="image/*" class="filestyle">
            </div>
            
            <div class="form-group">
                <label for="fulImage">Aktif/Pasif</label>
                <input type="checkbox" asp-for="IsActive">
            </div>
            <button type="submit" name="btnSubmit" class="btn btn-raised btn-black">Submit</button>
        </form>
    </div>
</div>
<script>

    $(document).ready(function() {
        $('.Birthdate').datepicker({
            format: "dd/mm/yyyy",
            language: 'tr'
        });




    });

</script>





