@model ELibrary.API.Models.AuthorModel
@{
    ViewData["Title"] = "Save";
}
@*<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>*@
<div class="widget">
    <div class="widget-heading">
        <h3 class="widget-title">Yazar Ekleme</h3>
    </div>
    <div class="widget-body">
        <div class="form-group">
            <a href="@Url.Action("Index", "Author")" style="float:right"> <input type="submit" class="btn btn-primary" value="Yazar Listele" /></a>
        </div>
        <form asp-action="Save" method="post" asp-antiforgery="false" enctype="multipart/form-data">
            <input asp-for="Id" type="hidden" />
            <div class="col-xs-6">

                <div class="form-group">

                    <label class="control-label">Adı</label>
                    <input asp-for="Name" class="form-control" placeholder="Adı" id="AuthorName" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Soyadı</label>
                    <input asp-for="Surname" placeholder="Soyadı" class="form-control" id="AuthorSurname" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Doğum tarihi</label>
                    <div class="input-group">
                        <input asp-for="Birthdate" type="text" id="AuthorBirthDate" data-rule-required="true" data-rule-minlength="8" data-rule-date="true" class="form-control dtPicker"><span class="input-group-addon"><i class="ti-calendar"></i></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Biyografi</label>
                    <textarea asp-for="Biography" rows="4" cols="50" id="txtWebsite" type="text" placeholder="Yazar hakkında.." class="form-control">
                      </textarea>
                </div>
            </div>

            <div class="col-xs-6">

                <div class="form-group">
                    <label class="text-capitalize">Cinsiyet</label>
                    <div class="has-success">
                        <div class="radio-custom">
                            <input id="radioFemale" asp-for="Gender" type="radio" name="radioStates" value="1">
                            <label for="radioFemale" class="radio-success">Kadın</label>
                        </div>
                    </div>
                    <div class="has-warning">
                        <div class="radio-custom">
                            <input id="radioMale" asp-for="Gender" type="radio" name="radioStates" value="0">
                            <label for="radioMale" class="radio-warning">Erkek</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Resim</label>
                    <label></label>
                    <input id="FileBasic" name="FormFile" asp-for="FormFile" placeholder="PNG | JPG" type="file" value="Resim Ekle">
                </div>
                <div class="form-group">
                    <div class="has-success">
                        <div class="checkbox-custom">
                            <input asp-for="IsActive" checked id="checkboxSuccess" type="checkbox">
                            <label for="checkboxSuccess" class="checkbox-success">Aktif?</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <button type="submit" name="btnSubmit" class="btn btn-raised btn-black pull-right">Kaydet</button>
            </div>
        </form>

    </div>
</div>
<script>

    $(document).ready(function() {
        $('.Birthdate').datepicker({
            format: "dd/mm/yyyy",
           // language: 'tr'
        });

        $('#FileBasic').fileinput({
            maxFileCount: 1,
            showUpload: false,
            allowedFileTypes: ['image', 'video']
        });
    });


    $('form').submit(function (e) {
        SpinLoader(true);
        e.preventDefault();
        var formData = new FormData(this);

        $.ajax({
            url: "/Author/Save",
            type: 'POST',
            data: formData,
            success: function (data) {
                if (data.success) {
                    swal("Basarili!", "Kaydedildi!", "success");
                    document.getElementById("AuthorName").value = "";
                    document.getElementById("AuthorSurname").value = "";
                    document.getElementById("AuthorBirthDate").value = "";
                    document.getElementById("txtWebsite").value = "";
                    SpinLoader(false);
                    if (data.value.isBookSaved) {

                    window.location.href  = '/book/save';
                  }
                }
               
                else {

                    SpinLoader(false);

                    swal("Dikkat!", data.message, "warning");
                }
            },
            error: function () {
                SpinLoader(false);
                swal("Hata!", "Bir sorun oluştu!", "error");
            },
            cache: false,
            contentType: false,
            processData: false
        }).done(function () {
            SpinLoader(false);
        });
    });
    function objectifyForm(formArray) {//serialize data function

        var returnArray = {};
        for (var i = 0; i < formArray.length; i++) {
            returnArray[formArray[i]['name']] = formArray[i]['value'];
        }
        return returnArray;
    }
</script>





