.page-header.container-fluid
  .row
    .col-sm-6
      h4.mt-0.mb-5
        block page-header
      block breadcrumb
    .col-sm-6
      .btn-group.mt-5
        button.btn.btn-default.btn-outline(type='button')
          i.flag-icon.flag-icon-us.mr-5
          |  English
        button.btn.btn-default.btn-outline.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          span.caret
          span.sr-only Toggle Dropdown
        ul.dropdown-menu.dropdown-menu-right.animated.fadeInDown
          li
            a(href='#')
              i.flag-icon.flag-icon-de.mr-5
              |  German
          li
            a(href='#')
              i.flag-icon.flag-icon-fr.mr-5
              |  French
          li
            a(href='#')
              i.flag-icon.flag-icon-es.mr-5
              |  Spanish
          li
            a(href='#')
              i.flag-icon.flag-icon-it.mr-5
              |  Italian
          li
            a(href='#')
              i.flag-icon.flag-icon-jp.mr-5
              |  Japanese