<navigation [pageName]="'Kitap Oku'"></navigation>
<div *ngIf="epubViewerOn">
  <select id="toc"></select>
  <div id="viewer" class="spreads"></div>
  <a id="prev" href="#prev" class="arrow">‹</a>
  <a id="next" href="#next" class="arrow">›</a>
</div>



<div *ngIf="url" class="main-content">
  <div class="container">

    <div class="row">
      <div class="col-12 contentbar mb-4">
          <p *ngIf="!epubViewerOn" class="card-text">
              <a (click)="atHere()"
              class="btn btn-success float-right"
              >Burada kaldım</a>
          </p>
        <h6 class="mt-0 mb-4">{{book?.bookName}}</h6>

              <div class="position-relative reading">
          <div class="loader-wrapper" style="display: none;">
            <div class="loader"></div>
          </div>
          <ngx-extended-pdf-viewer #pdfView [src]="url" useBrowserLocale="true"></ngx-extended-pdf-viewer>
        </div>

      </div>
    </div>

  </div>
</div>

