<navigation [pageName]="'Kategoriler'"></navigation>
<div class="main-content">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 sidebar pr-4 mb-4">
          <div class="filter mb-4">
            <b>Kategori</b>
            <hr class="mt-2 mb-2">
            <div class="box pb-1" *ngFor="let category of headerCategories">
              <div class="form-group chex mb-0">
                <label class="m-0"><input type="checkbox" [(ngModel)]="category.selected"
                  (change)="categoryCheck(category)"><span class="checkmark mt-2"></span><small class="position-relative d-inline-block text-truncate">{{category?.name}}</small></label>
              </div>
            </div>
          </div>
          <div class="filter mb-4">
            <b>Yazar</b>
            <hr class="mt-2 mb-2">
            <div class="box pb-1">
              <div class="form-group chex mb-0" *ngFor="let author of authors">
                <label class="m-0"><input type="checkbox" [(ngModel)]="author.selected"
                  (change)="authorCheck(author)"><span class="checkmark mt-2"></span><small class="position-relative d-inline-block text-truncate">{{author?.name}}</small></label>
              </div>
            </div>
          </div>
          <div class="filter mb-4">
            <b>Yayınevi</b>
            <hr class="mt-2 mb-2">
            <div class="form-select mt-3">
              <select  class="form-control" (change)="publisherChange($event.target.value)">
                <option selected disabled >Seçiniz</option>
                <option *ngFor="let publisher of publishers" [value]="publisher.id">{{publisher?.name}} </option>
              </select>
            </div>
  
          </div>
          <button class="btn btn-brown mt-1 w-100 text-truncate"
          (click)="filter()">Filtrele</button>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-9 contentbar mb-4" >
        <div *ngFor="let item of categories">
          <h6 class="mt-0 mb-4 color-green">{{item?.name}}</h6>
          <div class="row">
            <div class="col-6 col-sm-4 col-md-6 col-lg-3 col-xl-3" *ngFor="let book of item?.books| slice:0:4; let i=index" >
              <div class="b-box d-inline-block position-relative mb-5 w-100">
                <div class="cover position-relative mb-4" [ngStyle]="{'background-image':'url('+book?.signUrl+')'}">
                  
                  <div class="caption text-center">
                    <div class="favourite position-absolute text-center">
                      <span class="selected d-inline-block w-100 h-100"></span>
                    </div>
                    <div class="more w-100 position-absolute">
                      <a href="#" class="d-inline-block w-100 pt-1"><b>Detaylar <span class="arrow right white d-inline-block ml-2"></span></b></a>
                    </div>
                  </div>
                </div>
                <div class="cover position-absolute blurred" [ngStyle]="{'background-image':'url('+book?.signUrl+')'}"></div>
                <a href="javascript:void(0)" class="d-inline-block w-100">
                  <div class="title mb-1 text-truncate"><b>{{book?.bookName}}</b></div>
                </a>
                <a href="javascript:void(0)" class="d-inline-block w-100">
                    <div class="writer mb-2 text-truncate" routerLink="/yazar-detay/{{book?.authorId}}">{{book?.authorName}}</div>
                  </a>
                  <rating [(ngModel)]="book.rate" [max]="max" [readonly]="isReadonly" (click)="confirmSelection(book)"></rating> 

              </div>
            </div>
  
          </div>
          <div class="top-minus-1 position-relative text-right">
            <a href="javascript:void()" class="d-inline-block color-green"
            routerLink="/kategori-detay/{{item?.id}}"><b>Tümünü Gör<span class="arrow right green d-inline-block ml-2"></span></b></a>
          </div>
          <hr class="mt-3 mb-4 d-inline-block w-100">
        </div>
        </div>
      </div>
    </div>
  </div>