<app-loader></app-loader>
<section class="main-search">
  <div class="container h-100 d-flex justify-content-center flex-column">
    <div class="top-space position-relative">
      <h2 class="d-inline-block w-100 text-center mb-4">Kitaplar artık daha yakın!</h2>
      <div class="input-group dropdown">
        <input type="text" id="dropdownMenuButton" class="form-control dropdown-toggle" placeholder="Arama..." (keyup)="searchTerm$.next($event.target.value)"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" autofocus>
        <div class="input-group-append">
          <button class="btn input-group-text h-100"></button>
        </div>
        <div [hidden]="results?.authors?.length < 1
        && results?.books?.length < 1
        && results?.publishers?.length < 1" class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
          <div >
            <ng-container *ngIf="results?.authors?.length > 0">
              <span class="dropdown-item-text">Yazarlar</span>
              <ng-container *ngFor="let author of results?.authors | slice:0:4" >
                <a class="dropdown-item text-truncate" href="javascript:void();"
                routerLink="/yazar-detay/{{author?.id}}">{{author.name}}</a>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="results?.books?.length > 0">
                <span class="dropdown-item-text">Kitaplar</span>
                <ng-container *ngFor="let book of results?.books | slice:0:4" >
                  <a class="dropdown-item text-truncate" href="javascript:void();"
                  routerLink="/kitap-detay/{{book?.id}}">{{book.name}}</a>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="results?.publishers?.length > 0">
                <span class="dropdown-item-text">Yayınevleri</span>
                <ng-container *ngFor="let publisher of results?.publishers | slice:0:4" >
                  <a class="dropdown-item text-truncate" href="javascript:void();"
                  routerLink="/yayinevi-detay/{{publisher?.id}}">{{publisher.name}}</a>
                </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="slider-wrapper">
  <div class="overlay"></div>
  <div class="main-slider">
    <div class="slide" name="background-image" [ngStyle]="{'background-image':'url('+banner.signUrl+')'}"></div>
  </div>
</div>
