<div class="tab-content pb-0">
    <div class="tab-pane fade show active" id="one" role="tabpanel" aria-labelledby="one">
      <div class="row">

        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
          <div class="b-box d-inline-block position-relative mb-5 w-100">
            <div class="cover position-relative mb-4" style="background-image:url(img/no-cover.jpg);">
              <div class="caption text-center">
                <div class="favourite position-absolute text-center">
                  <span class="selected d-inline-block w-100 h-100"></span>
                </div>
                <div class="more w-100 position-absolute">
                  <a href="#" class="d-inline-block w-100 pt-1"><b>Detaylar <span class="arrow right white d-inline-block ml-2"></span></b></a>
                </div>
              </div>
            </div>
            <div class="cover position-absolute blurred" style="background-image:url(img/no-cover.jpg);"></div>
            <a href="#" class="d-inline-block w-100">
              <div class="title mb-1 text-truncate"><b>Bazı Yollar Yalnız Yürünür</b></div>
              <div class="writer mb-2 text-truncate">Latife Tekin</div>
            </a>
            <div class="stars">
              <span class="d-inline-block given">&#8902;</span>
              <span class="d-inline-block given">&#8902;</span>
              <span class="d-inline-block given">&#8902;</span>
              <span class="d-inline-block given">&#8902;</span>
              <span class="d-inline-block given">&#8902;</span>
            </div>
          </div>
        </div>

        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
          <div class="b-box d-inline-block position-relative mb-5 w-100">
            <div class="cover position-relative mb-4" style="background-image:url(https://admin-7866.kxcdn.com/Upload/BooksImage//9789750738517_front_cover.jpg);">
              <div class="caption text-center">
                <div class="favourite position-absolute text-center">
                  <span class="d-inline-block w-100 h-100"></span>
                </div>
                <div class="more w-100 position-absolute">
                  <a href="#" class="d-inline-block w-100 pt-1"><b>Detaylar <span class="arrow right white d-inline-block ml-1"></span></b></a>
                </div>
              </div>
            </div>
            <div class="cover position-absolute blurred" style="background-image:url(https://admin-7866.kxcdn.com/Upload/BooksImage//9789750738517_front_cover.jpg);"></div>
            <a href="#" class="d-inline-block w-100">
              <div class="title mb-1 text-truncate"><b>Bazı Yollar Yalnız Yürünür</b></div>
              <div class="writer mb-2 text-truncate">Latife Tekin</div>
            </a>
            <div class="stars">
              <span class="d-inline-block given">&#8902;</span>
              <span class="d-inline-block given">&#8902;</span>
              <span class="d-inline-block given">&#8902;</span>
              <span class="d-inline-block given">&#8902;</span>
              <span class="d-inline-block">&#8902;</span>
            </div>
          </div>
        </div>

        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
          <div class="b-box d-inline-block position-relative mb-5 w-100">
            <div class="cover position-relative mb-4" style="background-image:url(https://admin-7866.kxcdn.com/Upload/BooksImage//9789750738470_front_cover.jpg);">
              <div class="caption text-center">
                <div class="favourite position-absolute text-center">
                  <span class="d-inline-block w-100 h-100"></span>
                </div>
                <div class="more w-100 position-absolute">
                  <a href="#" class="d-inline-block w-100 pt-1"><b>Detaylar <span class="arrow right white d-inline-block ml-1"></span></b></a>
                </div>
              </div>
            </div>
            <div class="cover position-absolute blurred" style="background-image:url(https://admin-7866.kxcdn.com/Upload/BooksImage//9789750738470_front_cover.jpg);"></div>
            <a href="#" class="d-inline-block w-100">
              <div class="title mb-1 text-truncate"><b>Bazı Yollar Yalnız Yürünür</b></div>
              <div class="writer mb-2 text-truncate">Latife Tekin</div>
            </a>
            <div class="stars">
              <span class="d-inline-block given">&#8902;</span>
              <span class="d-inline-block given">&#8902;</span>
              <span class="d-inline-block given">&#8902;</span>
              <span class="d-inline-block given">&#8902;</span>
              <span class="d-inline-block given">&#8902;</span>
            </div>
          </div>
        </div>

        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
          <div class="b-box d-inline-block position-relative mb-5 w-100">
            <div class="cover position-relative mb-4" style="background-image:url(https://admin-7866.kxcdn.com/Upload/BooksImage//9789750738500_front_cover.jpg);">
              <div class="caption text-center">
                <div class="favourite position-absolute text-center">
                  <span class="d-inline-block w-100 h-100"></span>
                </div>
                <div class="more w-100 position-absolute">
                  <a href="#" class="d-inline-block w-100 pt-1"><b>Detaylar <span class="arrow right white d-inline-block ml-1"></span></b></a>
                </div>
              </div>
            </div>
            <div class="cover position-absolute blurred" style="background-image:url(https://admin-7866.kxcdn.com/Upload/BooksImage//9789750738500_front_cover.jpg);"></div>
            <a href="#" class="d-inline-block w-100">
              <div class="title mb-1 text-truncate"><b>Bazı Yollar Yalnız Yürünür</b></div>
              <div class="writer mb-2 text-truncate">Latife Tekin</div>
            </a>
            <div class="stars">
              <span class="d-inline-block given">&#8902;</span>
              <span class="d-inline-block given">&#8902;</span>
              <span class="d-inline-block given">&#8902;</span>
              <span class="d-inline-block given">&#8902;</span>
              <span class="d-inline-block given">&#8902;</span>
            </div>
          </div>
        </div>

        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
          <div class="b-box d-inline-block position-relative mb-5 w-100">
            <div class="cover position-relative mb-4" style="background-image:url(https://admin-7866.kxcdn.com/Upload/BooksImage//9789750738487_front_cover.jpg);">
              <div class="caption text-center">
                <div class="favourite position-absolute text-center">
                  <span class="d-inline-block w-100 h-100"></span>
                </div>
                <div class="more w-100 position-absolute">
                  <a href="#" class="d-inline-block w-100 pt-1"><b>Detaylar <span class="arrow right white d-inline-block ml-1"></span></b></a>
                </div>
              </div>
            </div>
            <div class="cover position-absolute blurred" style="background-image:url(https://admin-7866.kxcdn.com/Upload/BooksImage//9789750738487_front_cover.jpg);"></div>
            <a href="#" class="d-inline-block w-100">
              <div class="title mb-1 text-truncate"><b>Bazı Yollar Yalnız Yürünür</b></div>
              <div class="writer mb-2 text-truncate">Latife Tekin</div>
            </a>
            <div class="stars">
              <span class="d-inline-block given">&#8902;</span>
              <span class="d-inline-block given">&#8902;</span>
              <span class="d-inline-block given">&#8902;</span>
              <span class="d-inline-block given">&#8902;</span>
              <span class="d-inline-block given">&#8902;</span>
            </div>
          </div>
        </div>

        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
          <div class="b-box d-inline-block position-relative mb-5 w-100">
            <div class="cover position-relative mb-4" style="background-image:url(https://admin-7866.kxcdn.com/Upload/BooksImage//9789750734410_front_cover.jpg);">
              <div class="caption text-center">
                <div class="favourite position-absolute text-center">
                  <span class="d-inline-block w-100 h-100"></span>
                </div>
                <div class="more w-100 position-absolute">
                  <a href="#" class="d-inline-block w-100 pt-1"><b>Detaylar <span class="arrow right white d-inline-block ml-1"></span></b></a>
                </div>
              </div>
            </div>
            <div class="cover position-absolute blurred" style="background-image:url(https://admin-7866.kxcdn.com/Upload/BooksImage//9789750734410_front_cover.jpg);"></div>
            <a href="#" class="d-inline-block w-100">
              <div class="title mb-1 text-truncate"><b>Bazı Yollar Yalnız Yürünür</b></div>
              <div class="writer mb-2 text-truncate">Latife Tekin</div>
            </a>
            <div class="stars">
              <span class="d-inline-block given">&#8902;</span>
              <span class="d-inline-block given">&#8902;</span>
              <span class="d-inline-block given">&#8902;</span>
              <span class="d-inline-block given">&#8902;</span>
              <span class="d-inline-block given">&#8902;</span>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="tab-pane fade" id="two" role="tabpanel" aria-labelledby="two">...</div>
  </div>