<footer>
  <div class="container">
    <div class="row">

      <div class="col-6 col-sm-6">
        <h1 class="m-0 p-0"><a class="navbar-brand m-0 p-0 d-inline-block" href="#">E-Library</a></h1>
      </div>

      <div class="col-6 col-sm-6">
        <div class="socialized text-right">
          <a href="#" class="fb" target="_blank">facebook</a>
          <a href="#" class="tw" target="_blank">twitter</a>
          <a href="#" class="in" target="_blank">instagram</a>
          <a href="#" class="yt" target="_blank">youtube</a>
        </div>
      </div>
    </div>
  </div>
</footer>