<aside data-mcs-theme="minimal-dark" style="background-image: url(~/build/images/backgrounds/11.jpg)" class="main-sidebar mCustomScrollbar">
            <div class="user">
                <div id="esp-user-profile" data-percent="65" style="height: 130px; width: 130px; line-height: 100px; padding: 15px;" class="easy-pie-chart"><img src="../build/images/users/04.jpg" alt="" class="avatar img-circle"><span class="status bg-success"></span></div>
                <h4 class="fs-16 text-muted mt-15 mb-5 fw-300">Matthew Gonzalez</h4>
                <p class="mb-0 text-muted">Designer</p>
            </div>
            <ul class="list-unstyled navigation mb-0">
                <li class="sidebar-category">Main</li>
                <li class="panel">
                    <a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse1" aria-expanded="false" aria-controls="collapse1" class="bubble active collapsed"><i class="ti-home"></i><span class="sidebar-title">Dashboard</span><span class="badge bg-danger">2</span></a>
                    <ul id="collapse1" class="list-unstyled collapse">
                        <li><a href="index.html">Dashboard v1</a></li>
                        <li><a href="index-v2.html" class="active">Dashboard v2</a></li>
                    </ul>
                </li>
                <li class="panel">
                    <a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse3" aria-expanded="false" aria-controls="collapse3" class="collapsed"><i class="ti-shopping-cart"></i><span class="sidebar-title">E-commerce</span></a>
                    <ul id="collapse3" class="list-unstyled collapse">
                        <li><a href="ecommerce-dashboard.html">Dashboard</a></li>
                        <li><a href="product-list.html">Product list</a></li>
                        <li><a href="edit-product.html">Edit product</a></li>
                        <li><a href="order-list.html">Order list</a></li>
                        <li><a href="edit-order.html">Edit order</a></li>
                        <li><a href="customer-list.html">Customer list</a></li>
                        <li><a href="edit-customer.html">Edit customer</a></li>
                    </ul>
                </li>
            </ul>
  </aside>