.page-content.container-fluid
  .icon-demo
    h3.mt-0 Africa
    .row
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-dz
        |  Algeria
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-ao
        |  Angola
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-bj
        |  Benin
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-bw
        |  Botswana
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-bf
        |  Burkina Faso
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-bi
        |  Burundi
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-cv
        |  Cabo Verde
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-cm
        |  Cameroon
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-cf
        |  Central African Republic
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-td
        |  Chad
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-km
        |  Comoros
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-ci
        |  Côte d'Ivoire
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-cd
        |  Democratic Republic of the Congo
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-dj
        |  Djibouti
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-eg
        |  Egypt
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-gq
        |  Equatorial Guinea
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-er
        |  Eritrea
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-et
        |  Ethiopia
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-tf
        |  French Southern Territories
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-ga
        |  Gabon
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-gm
        |  Gambia
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-gh
        |  Ghana
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-gn
        |  Guinea
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-gw
        |  Guinea-Bissau
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-ke
        |  Kenya
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-ls
        |  Lesotho
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-lr
        |  Liberia
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-ly
        |  Libya
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-mg
        |  Madagascar
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-mw
        |  Malawi
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-ml
        |  Mali
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-mr
        |  Mauritania
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-mu
        |  Mauritius
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-yt
        |  Mayotte
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-ma
        |  Morocco
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-mz
        |  Mozambique
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-na
        |  Namibia
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-ne
        |  Niger
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-ng
        |  Nigeria
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-cg
        |  Republic of the Congo
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-rw
        |  Rwanda
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-re
        |  Réunion
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-sh
        |  Saint Helena, Ascension and Tristan da Cunha
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-st
        |  Sao Tome and Principe
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-sn
        |  Senegal
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-sc
        |  Seychelles
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-sl
        |  Sierra Leone
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-so
        |  Somalia
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-za
        |  South Africa
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-ss
        |  South Sudan
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-sd
        |  Sudan
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-sz
        |  Swaziland
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-tz
        |  Tanzania
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-tg
        |  Togo
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-tn
        |  Tunisia
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-ug
        |  Uganda
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-eh
        |  Western Sahara
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-zm
        |  Zambia
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-zw
        |  Zimbabwe
    h3 Asia
    .row
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-af
        |  Afghanistan
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-am
        |  Armenia
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-az
        |  Azerbaijan
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-bh
        |  Bahrain
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-bd
        |  Bangladesh
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-bt
        |  Bhutan
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-io
        |  British Indian Ocean Territory
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-bn
        |  Brunei Darussalam
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-kh
        |  Cambodia
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-cn
        |  China
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-cx
        |  Christmas Island
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-cc
        |  Cocos (Keeling) Islands
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-ge
        |  Georgia
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-hk
        |  Hong Kong
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-in
        |  India
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-id
        |  Indonesia
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-ir
        |  Iran (Islamic Republic of)
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-iq
        |  Iraq
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-il
        |  Israel
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-jp
        |  Japan
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-jo
        |  Jordan
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-kz
        |  Kazakhstan
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-kw
        |  Kuwait
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-kg
        |  Kyrgyzstan
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-la
        |  Laos
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-lb
        |  Lebanon
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-mo
        |  Macau
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-my
        |  Malaysia
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-mv
        |  Maldives
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-mn
        |  Mongolia
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-mm
        |  Myanmar
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-np
        |  Nepal
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-kp
        |  North Korea
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-om
        |  Oman
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-pk
        |  Pakistan
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-ph
        |  Philippines
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-qa
        |  Qatar
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-sa
        |  Saudi Arabia
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-sg
        |  Singapore
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-kr
        |  South Korea
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-lk
        |  Sri Lanka
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-ps
        |  State of Palestine
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-sy
        |  Syrian Arab Republic
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-tw
        |  Taiwan
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-tj
        |  Tajikistan
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-th
        |  Thailand
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-tl
        |  Timor-Leste
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-tr
        |  Turkey
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-tm
        |  Turkmenistan
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-ae
        |  United Arab Emirates
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-uz
        |  Uzbekistan
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-vn
        |  Vietnam
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-ye
        |  Yemen
    h3 Europe
    .row
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-ax
        |  Aland Islands
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-al
        |  Albania
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-ad
        |  Andorra
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-at
        |  Austria
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-by
        |  Belarus
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-be
        |  Belgium
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-ba
        |  Bosnia and Herzegovina
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-bg
        |  Bulgaria
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-hr
        |  Croatia
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-cy
        |  Cyprus
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-cz
        |  Czech Republic
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-dk
        |  Denmark
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-ee
        |  Estonia
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-fo
        |  Faroe Islands
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-fi
        |  Finland
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-mk
        |  Former Yugoslav Republic of Macedonia
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-fr
        |  France
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-de
        |  Germany
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-gi
        |  Gibraltar
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-gr
        |  Greece
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-gg
        |  Guernsey
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-va
        |  Holy See
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-hu
        |  Hungary
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-is
        |  Iceland
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-ie
        |  Ireland
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-im
        |  Isle of Man
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-it
        |  Italy
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-je
        |  Jersey
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-lv
        |  Latvia
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-li
        |  Liechtenstein
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-lt
        |  Lithuania
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-lu
        |  Luxembourg
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-mt
        |  Malta
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-md
        |  Moldova
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-mc
        |  Monaco
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-me
        |  Montenegro
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-nl
        |  Netherlands
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-no
        |  Norway
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-pl
        |  Poland
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-pt
        |  Portugal
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-ro
        |  Romania
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-ru
        |  Russia
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-sm
        |  San Marino
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-rs
        |  Serbia
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-sk
        |  Slovakia
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-si
        |  Slovenia
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-es
        |  Spain
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-sj
        |  Svalbard and Jan Mayen
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-se
        |  Sweden
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-ch
        |  Switzerland
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-ua
        |  Ukraine
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-gb
        |  United Kingdom
    h3 North America
    .row
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-ai
        |  Anguilla
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-ag
        |  Antigua and Barbuda
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-bs
        |  Bahamas
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-bb
        |  Barbados
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-bz
        |  Belize
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-bm
        |  Bermuda
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-ca
        |  Canada
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-ky
        |  Cayman Islands
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-cr
        |  Costa Rica
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-cu
        |  Cuba
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-dm
        |  Dominica
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-do
        |  Dominican Republic
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-sv
        |  El Salvador
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-gl
        |  Greenland
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-gd
        |  Grenada
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-gp
        |  Guadeloupe
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-gt
        |  Guatemala
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-ht
        |  Haiti
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-hn
        |  Honduras
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-jm
        |  Jamaica
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-mq
        |  Martinique
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-mx
        |  Mexico
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-ms
        |  Montserrat
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-ni
        |  Nicaragua
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-pa
        |  Panama
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-pr
        |  Puerto Rico
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-bl
        |  Saint Barthélemy
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-kn
        |  Saint Kitts and Nevis
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-lc
        |  Saint Lucia
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-mf
        |  Saint Martin
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-pm
        |  Saint Pierre and Miquelon
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-vc
        |  Saint Vincent and the Grenadines
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-sx
        |  Sint Maarten
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-tc
        |  Turks and Caicos Islands
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-um
        |  United States Minor Outlying Islands
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-us
        |  United States of America
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-vg
        |  Virgin Islands (British)
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-vi
        |  Virgin Islands (U.S.)
    h3 South America
    .row
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-ar
        |  Argentina
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-aw
        |  Aruba
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-bo
        |  Bolivia (Plurinational State of)
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-bq
        |  Bonaire, Sint Eustatius and Saba
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-br
        |  Brazil
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-cl
        |  Chile
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-co
        |  Colombia
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-cw
        |  Curaçao
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-ec
        |  Ecuador
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-fk
        |  Falkland Islands
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-gf
        |  French Guiana
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-gy
        |  Guyana
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-py
        |  Paraguay
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-pe
        |  Peru
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-sr
        |  Suriname
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-tt
        |  Trinidad and Tobago
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-uy
        |  Uruguay
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-ve
        |  Venezuela (Bolivarian Republic of)
    h3 Oceania
    .row
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-as
        |  American Samoa
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-au
        |  Australia
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-ck
        |  Cook Islands
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-fm
        |  Federated States of Micronesia
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-fj
        |  Fiji
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-pf
        |  French Polynesia
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-gu
        |  Guam
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-ki
        |  Kiribati
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-mh
        |  Marshall Islands
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-nr
        |  Nauru
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-nc
        |  New Caledonia
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-nz
        |  New Zealand
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-nu
        |  Niue
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-nf
        |  Norfolk Island
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-mp
        |  Northern Mariana Islands
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-pw
        |  Palau
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-pg
        |  Papua New Guinea
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-pn
        |  Pitcairn
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-ws
        |  Samoa
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-sb
        |  Solomon Islands
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-tk
        |  Tokelau
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-to
        |  Tonga
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-tv
        |  Tuvalu
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-vu
        |  Vanuatu
      .col-md-4.col-sm-6
        i.flag-icon.flag-icon-wf
        |  Wallis and Futuna