.page-content.container-fluid
  .icon-demo
    h3.mt-0 Daytime
    .row
      .col-md-4.col-sm-6
        i.wi.wi-day-sunny
        |  wi-day-sunny
      .col-md-4.col-sm-6
        i.wi.wi-day-cloudy
        |  wi-day-cloudy
      .col-md-4.col-sm-6
        i.wi.wi-day-cloudy-gusts
        |  wi-day-cloudy-gusts
      .col-md-4.col-sm-6
        i.wi.wi-day-cloudy-windy
        |  wi-day-cloudy-windy
      .col-md-4.col-sm-6
        i.wi.wi-day-fog
        |  wi-day-fog
      .col-md-4.col-sm-6
        i.wi.wi-day-hail
        |  wi-day-hail
      .col-md-4.col-sm-6
        i.wi.wi-day-haze
        |  wi-day-haze
      .col-md-4.col-sm-6
        i.wi.wi-day-lightning
        |  wi-day-lightning
      .col-md-4.col-sm-6
        i.wi.wi-day-rain
        |  wi-day-rain
      .col-md-4.col-sm-6
        i.wi.wi-day-rain-mix
        |  wi-day-rain-mix
      .col-md-4.col-sm-6
        i.wi.wi-day-rain-wind
        |  wi-day-rain-wind
      .col-md-4.col-sm-6
        i.wi.wi-day-showers
        |  wi-day-showers
      .col-md-4.col-sm-6
        i.wi.wi-day-sleet
        |  wi-day-sleet
      .col-md-4.col-sm-6
        i.wi.wi-day-sleet-storm
        |  wi-day-sleet-storm
      .col-md-4.col-sm-6
        i.wi.wi-day-snow
        |  wi-day-snow
      .col-md-4.col-sm-6
        i.wi.wi-day-snow-thunderstorm
        |  wi-day-snow-thunderstorm
      .col-md-4.col-sm-6
        i.wi.wi-day-snow-wind
        |  wi-day-snow-wind
      .col-md-4.col-sm-6
        i.wi.wi-day-sprinkle
        |  wi-day-sprinkle
      .col-md-4.col-sm-6
        i.wi.wi-day-storm-showers
        |  wi-day-storm-showers
      .col-md-4.col-sm-6
        i.wi.wi-day-sunny-overcast
        |  wi-day-sunny-overcast
      .col-md-4.col-sm-6
        i.wi.wi-day-thunderstorm
        |  wi-day-thunderstorm
      .col-md-4.col-sm-6
        i.wi.wi-day-windy
        |  wi-day-windy
      .col-md-4.col-sm-6
        i.wi.wi-solar-eclipse
        |  wi-solar-eclipse
      .col-md-4.col-sm-6
        i.wi.wi-hot
        |  wi-hot
      .col-md-4.col-sm-6
        i.wi.wi-day-cloudy-high
        |  wi-day-cloudy-high
      .col-md-4.col-sm-6
        i.wi.wi-day-light-wind
        |  wi-day-light-wind
    h3 Nighttime
    .row
      .col-md-4.col-sm-6
        i.wi.wi-night-clear
        |  wi-night-clear
      .col-md-4.col-sm-6
        i.wi.wi-night-alt-cloudy
        |  wi-night-alt-cloudy
      .col-md-4.col-sm-6
        i.wi.wi-night-alt-cloudy-gusts
        |  wi-night-alt-cloudy-gusts
      .col-md-4.col-sm-6
        i.wi.wi-night-alt-cloudy-windy
        |  wi-night-alt-cloudy-windy
      .col-md-4.col-sm-6
        i.wi.wi-night-alt-hail
        |  wi-night-alt-hail
      .col-md-4.col-sm-6
        i.wi.wi-night-alt-lightning
        |  wi-night-alt-lightning
      .col-md-4.col-sm-6
        i.wi.wi-night-alt-rain
        |  wi-night-alt-rain
      .col-md-4.col-sm-6
        i.wi.wi-night-alt-rain-mix
        |  wi-night-alt-rain-mix
      .col-md-4.col-sm-6
        i.wi.wi-night-alt-rain-wind
        |  wi-night-alt-rain-wind
      .col-md-4.col-sm-6
        i.wi.wi-night-alt-showers
        |  wi-night-alt-showers
      .col-md-4.col-sm-6
        i.wi.wi-night-alt-sleet
        |  wi-night-alt-sleet
      .col-md-4.col-sm-6
        i.wi.wi-night-alt-sleet-storm
        |  wi-night-alt-sleet-storm
      .col-md-4.col-sm-6
        i.wi.wi-night-alt-snow
        |  wi-night-alt-snow
      .col-md-4.col-sm-6
        i.wi.wi-night-alt-snow-thunderstorm
        |  wi-night-alt-snow-thunderstorm
      .col-md-4.col-sm-6
        i.wi.wi-night-alt-snow-wind
        |  wi-night-alt-snow-wind
      .col-md-4.col-sm-6
        i.wi.wi-night-alt-sprinkle
        |  wi-night-alt-sprinkle
      .col-md-4.col-sm-6
        i.wi.wi-night-alt-storm-showers
        |  wi-night-alt-storm-showers
      .col-md-4.col-sm-6
        i.wi.wi-night-alt-thunderstorm
        |  wi-night-alt-thunderstorm
      .col-md-4.col-sm-6
        i.wi.wi-night-cloudy
        |  wi-night-cloudy
      .col-md-4.col-sm-6
        i.wi.wi-night-cloudy-gusts
        |  wi-night-cloudy-gusts
      .col-md-4.col-sm-6
        i.wi.wi-night-cloudy-windy
        |  wi-night-cloudy-windy
      .col-md-4.col-sm-6
        i.wi.wi-night-fog
        |  wi-night-fog
      .col-md-4.col-sm-6
        i.wi.wi-night-hail
        |  wi-night-hail
      .col-md-4.col-sm-6
        i.wi.wi-night-lightning
        |  wi-night-lightning
      .col-md-4.col-sm-6
        i.wi.wi-night-partly-cloudy
        |  wi-night-partly-cloudy
      .col-md-4.col-sm-6
        i.wi.wi-night-rain
        |  wi-night-rain
      .col-md-4.col-sm-6
        i.wi.wi-night-rain-mix
        |  wi-night-rain-mix
      .col-md-4.col-sm-6
        i.wi.wi-night-rain-wind
        |  wi-night-rain-wind
      .col-md-4.col-sm-6
        i.wi.wi-night-showers
        |  wi-night-showers
      .col-md-4.col-sm-6
        i.wi.wi-night-sleet
        |  wi-night-sleet
      .col-md-4.col-sm-6
        i.wi.wi-night-sleet-storm
        |  wi-night-sleet-storm
      .col-md-4.col-sm-6
        i.wi.wi-night-snow
        |  wi-night-snow
      .col-md-4.col-sm-6
        i.wi.wi-night-snow-thunderstorm
        |  wi-night-snow-thunderstorm
      .col-md-4.col-sm-6
        i.wi.wi-night-snow-wind
        |  wi-night-snow-wind
      .col-md-4.col-sm-6
        i.wi.wi-night-sprinkle
        |  wi-night-sprinkle
      .col-md-4.col-sm-6
        i.wi.wi-night-storm-showers
        |  wi-night-storm-showers
      .col-md-4.col-sm-6
        i.wi.wi-night-thunderstorm
        |  wi-night-thunderstorm
      .col-md-4.col-sm-6
        i.wi.wi-lunar-eclipse
        |  wi-lunar-eclipse
      .col-md-4.col-sm-6
        i.wi.wi-stars
        |  wi-stars
      .col-md-4.col-sm-6
        i.wi.wi-storm-showers
        |  wi-storm-showers
      .col-md-4.col-sm-6
        i.wi.wi-thunderstorm
        |  wi-thunderstorm
      .col-md-4.col-sm-6
        i.wi.wi-night-alt-cloudy-high
        |  wi-night-alt-cloudy-high
      .col-md-4.col-sm-6
        i.wi.wi-night-cloudy-high
        |  wi-night-cloudy-high
      .col-md-4.col-sm-6
        i.wi.wi-night-alt-partly-cloudy
        |  wi-night-alt-partly-cloudy
    h3 Neutral
    .row
      .col-md-4.col-sm-6
        i.wi.wi-cloud
        |  wi-cloud
      .col-md-4.col-sm-6
        i.wi.wi-cloudy
        |  wi-cloudy
      .col-md-4.col-sm-6
        i.wi.wi-cloudy-gusts
        |  wi-cloudy-gusts
      .col-md-4.col-sm-6
        i.wi.wi-cloudy-windy
        |  wi-cloudy-windy
      .col-md-4.col-sm-6
        i.wi.wi-fog
        |  wi-fog
      .col-md-4.col-sm-6
        i.wi.wi-hail
        |  wi-hail
      .col-md-4.col-sm-6
        i.wi.wi-rain
        |  wi-rain
      .col-md-4.col-sm-6
        i.wi.wi-rain-mix
        |  wi-rain-mix
      .col-md-4.col-sm-6
        i.wi.wi-rain-wind
        |  wi-rain-wind
      .col-md-4.col-sm-6
        i.wi.wi-showers
        |  wi-showers
      .col-md-4.col-sm-6
        i.wi.wi-sleet
        |  wi-sleet
      .col-md-4.col-sm-6
        i.wi.wi-snow
        |  wi-snow
      .col-md-4.col-sm-6
        i.wi.wi-sprinkle
        |  wi-sprinkle
      .col-md-4.col-sm-6
        i.wi.wi-storm-showers
        |  wi-storm-showers
      .col-md-4.col-sm-6
        i.wi.wi-thunderstorm
        |  wi-thunderstorm
      .col-md-4.col-sm-6
        i.wi.wi-snow-wind
        |  wi-snow-wind
      .col-md-4.col-sm-6
        i.wi.wi-snow
        |  wi-snow
      .col-md-4.col-sm-6
        i.wi.wi-smog
        |  wi-smog
      .col-md-4.col-sm-6
        i.wi.wi-smoke
        |  wi-smoke
      .col-md-4.col-sm-6
        i.wi.wi-lightning
        |  wi-lightning
      .col-md-4.col-sm-6
        i.wi.wi-raindrops
        |  wi-raindrops
      .col-md-4.col-sm-6
        i.wi.wi-raindrop
        |  wi-raindrop
      .col-md-4.col-sm-6
        i.wi.wi-dust
        |  wi-dust
      .col-md-4.col-sm-6
        i.wi.wi-snowflake-cold
        |  wi-snowflake-cold
      .col-md-4.col-sm-6
        i.wi.wi-windy
        |  wi-windy
      .col-md-4.col-sm-6
        i.wi.wi-strong-wind
        |  wi-strong-wind
      .col-md-4.col-sm-6
        i.wi.wi-sandstorm
        |  wi-sandstorm
      .col-md-4.col-sm-6
        i.wi.wi-earthquake
        |  wi-earthquake
      .col-md-4.col-sm-6
        i.wi.wi-fire
        |  wi-fire
      .col-md-4.col-sm-6
        i.wi.wi-flood
        |  wi-flood
      .col-md-4.col-sm-6
        i.wi.wi-meteor
        |  wi-meteor
      .col-md-4.col-sm-6
        i.wi.wi-tsunami
        |  wi-tsunami
      .col-md-4.col-sm-6
        i.wi.wi-volcano
        |  wi-volcano
      .col-md-4.col-sm-6
        i.wi.wi-hurricane
        |  wi-hurricane
      .col-md-4.col-sm-6
        i.wi.wi-tornado
        |  wi-tornado
      .col-md-4.col-sm-6
        i.wi.wi-small-craft-advisory
        |  wi-small-craft-advisory
      .col-md-4.col-sm-6
        i.wi.wi-gale-warning
        |  wi-gale-warning
      .col-md-4.col-sm-6
        i.wi.wi-storm-warning
        |  wi-storm-warning
      .col-md-4.col-sm-6
        i.wi.wi-hurricane-warning
        |  wi-hurricane-warning
      .col-md-4.col-sm-6
        i.wi.wi-wind-direction
        |  wi-wind-direction
    h3 Miscellaneous
    .row
      .col-md-4.col-sm-6
        i.wi.wi-alien
        |  wi-alien
      .col-md-4.col-sm-6
        i.wi.wi-celsius
        |  wi-celsius
      .col-md-4.col-sm-6
        i.wi.wi-fahrenheit
        |  wi-fahrenheit
      .col-md-4.col-sm-6
        i.wi.wi-degrees
        |  wi-degrees
      .col-md-4.col-sm-6
        i.wi.wi-thermometer
        |  wi-thermometer
      .col-md-4.col-sm-6
        i.wi.wi-thermometer-exterior
        |  wi-thermometer-exterior
      .col-md-4.col-sm-6
        i.wi.wi-thermometer-internal
        |  wi-thermometer-internal
      .col-md-4.col-sm-6
        i.wi.wi-cloud-down
        |  wi-cloud-down
      .col-md-4.col-sm-6
        i.wi.wi-cloud-up
        |  wi-cloud-up
      .col-md-4.col-sm-6
        i.wi.wi-cloud-refresh
        |  wi-cloud-refresh
      .col-md-4.col-sm-6
        i.wi.wi-horizon
        |  wi-horizon
      .col-md-4.col-sm-6
        i.wi.wi-horizon-alt
        |  wi-horizon-alt
      .col-md-4.col-sm-6
        i.wi.wi-sunrise
        |  wi-sunrise
      .col-md-4.col-sm-6
        i.wi.wi-sunset
        |  wi-sunset
      .col-md-4.col-sm-6
        i.wi.wi-moonrise
        |  wi-moonrise
      .col-md-4.col-sm-6
        i.wi.wi-moonset
        |  wi-moonset
      .col-md-4.col-sm-6
        i.wi.wi-refresh
        |  wi-refresh
      .col-md-4.col-sm-6
        i.wi.wi-refresh-alt
        |  wi-refresh-alt
      .col-md-4.col-sm-6
        i.wi.wi-umbrella
        |  wi-umbrella
      .col-md-4.col-sm-6
        i.wi.wi-barometer
        |  wi-barometer
      .col-md-4.col-sm-6
        i.wi.wi-humidity
        |  wi-humidity
      .col-md-4.col-sm-6
        i.wi.wi-na
        |  wi-na
      .col-md-4.col-sm-6
        i.wi.wi-train
        |  wi-train
    h3 Moon Phases
    .row
      .col-md-4.col-sm-6
        i.wi.wi-moon-new
        |  wi-moon-new
      .col-md-4.col-sm-6
        i.wi.wi-moon-waxing-crescent-1
        |  wi-moon-waxing-crescent-1
      .col-md-4.col-sm-6
        i.wi.wi-moon-waxing-crescent-2
        |  wi-moon-waxing-crescent-2
      .col-md-4.col-sm-6
        i.wi.wi-moon-waxing-crescent-3
        |  wi-moon-waxing-crescent-3
      .col-md-4.col-sm-6
        i.wi.wi-moon-waxing-crescent-4
        |  wi-moon-waxing-crescent-4
      .col-md-4.col-sm-6
        i.wi.wi-moon-waxing-crescent-5
        |  wi-moon-waxing-crescent-5
      .col-md-4.col-sm-6
        i.wi.wi-moon-waxing-crescent-6
        |  wi-moon-waxing-crescent-6
      .col-md-4.col-sm-6
        i.wi.wi-moon-first-quarter
        |  wi-moon-first-quarter
      .col-md-4.col-sm-6
        i.wi.wi-moon-waxing-gibbous-1
        |  wi-moon-waxing-gibbous-1
      .col-md-4.col-sm-6
        i.wi.wi-moon-waxing-gibbous-2
        |  wi-moon-waxing-gibbous-2
      .col-md-4.col-sm-6
        i.wi.wi-moon-waxing-gibbous-3
        |  wi-moon-waxing-gibbous-3
      .col-md-4.col-sm-6
        i.wi.wi-moon-waxing-gibbous-4
        |  wi-moon-waxing-gibbous-4
      .col-md-4.col-sm-6
        i.wi.wi-moon-waxing-gibbous-5
        |  wi-moon-waxing-gibbous-5
      .col-md-4.col-sm-6
        i.wi.wi-moon-waxing-gibbous-6
        |  wi-moon-waxing-gibbous-6
      .col-md-4.col-sm-6
        i.wi.wi-moon-full
        |  wi-moon-full
      .col-md-4.col-sm-6
        i.wi.wi-moon-waning-gibbous-1
        |  wi-moon-waning-gibbous-1
      .col-md-4.col-sm-6
        i.wi.wi-moon-waning-gibbous-2
        |  wi-moon-waning-gibbous-2
      .col-md-4.col-sm-6
        i.wi.wi-moon-waning-gibbous-3
        |  wi-moon-waning-gibbous-3
      .col-md-4.col-sm-6
        i.wi.wi-moon-waning-gibbous-4
        |  wi-moon-waning-gibbous-4
      .col-md-4.col-sm-6
        i.wi.wi-moon-waning-gibbous-5
        |  wi-moon-waning-gibbous-5
      .col-md-4.col-sm-6
        i.wi.wi-moon-waning-gibbous-6
        |  wi-moon-waning-gibbous-6
      .col-md-4.col-sm-6
        i.wi.wi-moon-third-quarter
        |  wi-moon-third-quarter
      .col-md-4.col-sm-6
        i.wi.wi-moon-waning-crescent-1
        |  wi-moon-waning-crescent-1
      .col-md-4.col-sm-6
        i.wi.wi-moon-waning-crescent-2
        |  wi-moon-waning-crescent-2
      .col-md-4.col-sm-6
        i.wi.wi-moon-waning-crescent-3
        |  wi-moon-waning-crescent-3
      .col-md-4.col-sm-6
        i.wi.wi-moon-waning-crescent-4
        |  wi-moon-waning-crescent-4
      .col-md-4.col-sm-6
        i.wi.wi-moon-waning-crescent-5
        |  wi-moon-waning-crescent-5
      .col-md-4.col-sm-6
        i.wi.wi-moon-waning-crescent-6
        |  wi-moon-waning-crescent-6
      .col-md-4.col-sm-6
        i.wi.wi-moon-alt-new
        |  wi-moon-alt-new
      .col-md-4.col-sm-6
        i.wi.wi-moon-alt-waxing-crescent-1
        |  wi-moon-alt-waxing-crescent-1
      .col-md-4.col-sm-6
        i.wi.wi-moon-alt-waxing-crescent-2
        |  wi-moon-alt-waxing-crescent-2
      .col-md-4.col-sm-6
        i.wi.wi-moon-alt-waxing-crescent-3
        |  wi-moon-alt-waxing-crescent-3
      .col-md-4.col-sm-6
        i.wi.wi-moon-alt-waxing-crescent-4
        |  wi-moon-alt-waxing-crescent-4
      .col-md-4.col-sm-6
        i.wi.wi-moon-alt-waxing-crescent-5
        |  wi-moon-alt-waxing-crescent-5
      .col-md-4.col-sm-6
        i.wi.wi-moon-alt-waxing-crescent-6
        |  wi-moon-alt-waxing-crescent-6
      .col-md-4.col-sm-6
        i.wi.wi-moon-alt-first-quarter
        |  wi-moon-alt-first-quarter
      .col-md-4.col-sm-6
        i.wi.wi-moon-alt-waxing-gibbous-1
        |  wi-moon-alt-waxing-gibbous-1
      .col-md-4.col-sm-6
        i.wi.wi-moon-alt-waxing-gibbous-2
        |  wi-moon-alt-waxing-gibbous-2
      .col-md-4.col-sm-6
        i.wi.wi-moon-alt-waxing-gibbous-3
        |  wi-moon-alt-waxing-gibbous-3
      .col-md-4.col-sm-6
        i.wi.wi-moon-alt-waxing-gibbous-4
        |  wi-moon-alt-waxing-gibbous-4
      .col-md-4.col-sm-6
        i.wi.wi-moon-alt-waxing-gibbous-5
        |  wi-moon-alt-waxing-gibbous-5
      .col-md-4.col-sm-6
        i.wi.wi-moon-alt-waxing-gibbous-6
        |  wi-moon-alt-waxing-gibbous-6
      .col-md-4.col-sm-6
        i.wi.wi-moon-alt-full
        |  wi-moon-alt-full
      .col-md-4.col-sm-6
        i.wi.wi-moon-alt-waning-gibbous-1
        |  wi-moon-alt-waning-gibbous-1
      .col-md-4.col-sm-6
        i.wi.wi-moon-alt-waning-gibbous-2
        |  wi-moon-alt-waning-gibbous-2
      .col-md-4.col-sm-6
        i.wi.wi-moon-alt-waning-gibbous-3
        |  wi-moon-alt-waning-gibbous-3
      .col-md-4.col-sm-6
        i.wi.wi-moon-alt-waning-gibbous-4
        |  wi-moon-alt-waning-gibbous-4
      .col-md-4.col-sm-6
        i.wi.wi-moon-alt-waning-gibbous-5
        |  wi-moon-alt-waning-gibbous-5
      .col-md-4.col-sm-6
        i.wi.wi-moon-alt-waning-gibbous-6
        |  wi-moon-alt-waning-gibbous-6
      .col-md-4.col-sm-6
        i.wi.wi-moon-alt-third-quarter
        |  wi-moon-alt-third-quarter
      .col-md-4.col-sm-6
        i.wi.wi-moon-alt-waning-crescent-1
        |  wi-moon-alt-waning-crescent-1
      .col-md-4.col-sm-6
        i.wi.wi-moon-alt-waning-crescent-2
        |  wi-moon-alt-waning-crescent-2
      .col-md-4.col-sm-6
        i.wi.wi-moon-alt-waning-crescent-3
        |  wi-moon-alt-waning-crescent-3
      .col-md-4.col-sm-6
        i.wi.wi-moon-alt-waning-crescent-4
        |  wi-moon-alt-waning-crescent-4
      .col-md-4.col-sm-6
        i.wi.wi-moon-alt-waning-crescent-5
        |  wi-moon-alt-waning-crescent-5
      .col-md-4.col-sm-6
        i.wi.wi-moon-alt-waning-crescent-6
        |  wi-moon-alt-waning-crescent-6
    h3 Time
    .row
      .col-md-4.col-sm-6
        i.wi.wi-time-1
        |  wi-time-1
      .col-md-4.col-sm-6
        i.wi.wi-time-2
        |  wi-time-2
      .col-md-4.col-sm-6
        i.wi.wi-time-3
        |  wi-time-3
      .col-md-4.col-sm-6
        i.wi.wi-time-4
        |  wi-time-4
      .col-md-4.col-sm-6
        i.wi.wi-time-5
        |  wi-time-5
      .col-md-4.col-sm-6
        i.wi.wi-time-6
        |  wi-time-6
      .col-md-4.col-sm-6
        i.wi.wi-time-7
        |  wi-time-7
      .col-md-4.col-sm-6
        i.wi.wi-time-8
        |  wi-time-8
      .col-md-4.col-sm-6
        i.wi.wi-time-9
        |  wi-time-9
      .col-md-4.col-sm-6
        i.wi.wi-time-10
        |  wi-time-10
      .col-md-4.col-sm-6
        i.wi.wi-time-11
        |  wi-time-11
      .col-md-4.col-sm-6
        i.wi.wi-time-12
        |  wi-time-12
    h3 Directional Arrows
    .row
      .col-md-4.col-sm-6
        i.wi.wi-direction-up
        |  wi-direction-up
      .col-md-4.col-sm-6
        i.wi.wi-direction-up-right
        |  wi-direction-up-right
      .col-md-4.col-sm-6
        i.wi.wi-direction-right
        |  wi-direction-right
      .col-md-4.col-sm-6
        i.wi.wi-direction-down-right
        |  wi-direction-down-right
      .col-md-4.col-sm-6
        i.wi.wi-direction-down
        |  wi-direction-down
      .col-md-4.col-sm-6
        i.wi.wi-direction-down-left
        |  wi-direction-down-left
      .col-md-4.col-sm-6
        i.wi.wi-direction-left
        |  wi-direction-left
      .col-md-4.col-sm-6
        i.wi.wi-direction-up-left
        |  wi-direction-up-left
    h3 Wind Degree Examples
    .row
      .col-md-4.col-sm-6
        i.wi.wi-wind.towards-0-deg
        |  wi-wind.towards-0-deg
      .col-md-4.col-sm-6
        i.wi.wi-wind.towards-23-deg
        |  wi-wind.towards-23-deg
      .col-md-4.col-sm-6
        i.wi.wi-wind.towards-45-deg
        |  wi-wind.towards-45-deg
      .col-md-4.col-sm-6
        i.wi.wi-wind.towards-68-deg
        |  wi-wind.towards-68-deg
      .col-md-4.col-sm-6
        i.wi.wi-wind.towards-90-deg
        |  wi-wind.towards-90-deg
      .col-md-4.col-sm-6
        i.wi.wi-wind.towards-113-deg
        |  wi-wind.towards-113-deg
      .col-md-4.col-sm-6
        i.wi.wi-wind.towards-135-deg
        |  wi-wind.towards-135-deg
      .col-md-4.col-sm-6
        i.wi.wi-wind.towards-158-deg
        |  wi-wind.towards-158-deg
      .col-md-4.col-sm-6
        i.wi.wi-wind.towards-180-deg
        |  wi-wind.towards-180-deg
      .col-md-4.col-sm-6
        i.wi.wi-wind.towards-203-deg
        |  wi-wind.towards-203-deg
      .col-md-4.col-sm-6
        i.wi.wi-wind.towards-225-deg
        |  wi-wind.towards-225-deg
      .col-md-4.col-sm-6
        i.wi.wi-wind.towards-248-deg
        |  wi-wind.towards-248-deg
      .col-md-4.col-sm-6
        i.wi.wi-wind.towards-270-deg
        |  wi-wind.towards-270-deg
      .col-md-4.col-sm-6
        i.wi.wi-wind.towards-293-deg
        |  wi-wind.towards-293-deg
      .col-md-4.col-sm-6
        i.wi.wi-wind.towards-313-deg
        |  wi-wind.towards-313-deg
      .col-md-4.col-sm-6
        i.wi.wi-wind.towards-336-deg
        |  wi-wind.towards-336-deg
      .col-md-4.col-sm-6
        i.wi.wi-wind.from-180-deg
        |  wi-wind.from-180-deg
      .col-md-4.col-sm-6
        i.wi.wi-wind.from-203-deg
        |  wi-wind.from-203-deg
      .col-md-4.col-sm-6
        i.wi.wi-wind.from-225-deg
        |  wi-wind.from-225-deg
      .col-md-4.col-sm-6
        i.wi.wi-wind.from-248-deg
        |  wi-wind.from-248-deg
      .col-md-4.col-sm-6
        i.wi.wi-wind.from-270-deg
        |  wi-wind.from-270-deg
      .col-md-4.col-sm-6
        i.wi.wi-wind.from-293-deg
        |  wi-wind.from-293-deg
      .col-md-4.col-sm-6
        i.wi.wi-wind.from-313-deg
        |  wi-wind.from-313-deg
      .col-md-4.col-sm-6
        i.wi.wi-wind.from-336-deg
        |  wi-wind.from-336-deg
      .col-md-4.col-sm-6
        i.wi.wi-wind.from-0-deg
        |  wi-wind.from-0-deg
      .col-md-4.col-sm-6
        i.wi.wi-wind.from-23-deg
        |  wi-wind.from-23-deg
      .col-md-4.col-sm-6
        i.wi.wi-wind.from-45-deg
        |  wi-wind.from-45-deg
      .col-md-4.col-sm-6
        i.wi.wi-wind.from-68-deg
        |  wi-wind.from-68-deg
      .col-md-4.col-sm-6
        i.wi.wi-wind.from-90-deg
        |  wi-wind.from-90-deg
      .col-md-4.col-sm-6
        i.wi.wi-wind.from-113-deg
        |  wi-wind.from-113-deg
      .col-md-4.col-sm-6
        i.wi.wi-wind.from-135-deg
        |  wi-wind.from-135-deg
      .col-md-4.col-sm-6
        i.wi.wi-wind.from-158-deg
        |  wi-wind.from-158-deg
    h3 Wind Cardinal Examples
    .row
      .col-md-4.col-sm-6
        i.wi.wi-wind.wi-towards-n
        |  wi-wind.wi-towards-n
      .col-md-4.col-sm-6
        i.wi.wi-wind.wi-towards-nne
        |  wi-wind.wi-towards-nne
      .col-md-4.col-sm-6
        i.wi.wi-wind.wi-towards-ne
        |  wi-wind.wi-towards-ne
      .col-md-4.col-sm-6
        i.wi.wi-wind.wi-towards-ene
        |  wi-wind.wi-towards-ene
      .col-md-4.col-sm-6
        i.wi.wi-wind.wi-towards-e
        |  wi-wind.wi-towards-e
      .col-md-4.col-sm-6
        i.wi.wi-wind.wi-towards-ese
        |  wi-wind.wi-towards-ese
      .col-md-4.col-sm-6
        i.wi.wi-wind.wi-towards-se
        |  wi-wind.wi-towards-se
      .col-md-4.col-sm-6
        i.wi.wi-wind.wi-towards-sse
        |  wi-wind.wi-towards-sse
      .col-md-4.col-sm-6
        i.wi.wi-wind.wi-towards-s
        |  wi-wind.wi-towards-s
      .col-md-4.col-sm-6
        i.wi.wi-wind.wi-towards-ssw
        |  wi-wind.wi-towards-ssw
      .col-md-4.col-sm-6
        i.wi.wi-wind.wi-towards-sw
        |  wi-wind.wi-towards-sw
      .col-md-4.col-sm-6
        i.wi.wi-wind.wi-towards-wsw
        |  wi-wind.wi-towards-wsw
      .col-md-4.col-sm-6
        i.wi.wi-wind.wi-towards-w
        |  wi-wind.wi-towards-w
      .col-md-4.col-sm-6
        i.wi.wi-wind.wi-towards-wnw
        |  wi-wind.wi-towards-wnw
      .col-md-4.col-sm-6
        i.wi.wi-wind.wi-towards-nw
        |  wi-wind.wi-towards-nw
      .col-md-4.col-sm-6
        i.wi.wi-wind.wi-towards-nnw
        |  wi-wind.wi-towards-nnw
      .col-md-4.col-sm-6
        i.wi.wi-wind.wi-from-n
        |  wi-wind.wi-from-n
      .col-md-4.col-sm-6
        i.wi.wi-wind.wi-from-nne
        |  wi-wind.wi-from-nne
      .col-md-4.col-sm-6
        i.wi.wi-wind.wi-from-ne
        |  wi-wind.wi-from-ne
      .col-md-4.col-sm-6
        i.wi.wi-wind.wi-from-ene
        |  wi-wind.wi-from-ene
      .col-md-4.col-sm-6
        i.wi.wi-wind.wi-from-e
        |  wi-wind.wi-from-e
      .col-md-4.col-sm-6
        i.wi.wi-wind.wi-from-ese
        |  wi-wind.wi-from-ese
      .col-md-4.col-sm-6
        i.wi.wi-wind.wi-from-se
        |  wi-wind.wi-from-se
      .col-md-4.col-sm-6
        i.wi.wi-wind.wi-from-sse
        |  wi-wind.wi-from-sse
      .col-md-4.col-sm-6
        i.wi.wi-wind.wi-from-s
        |  wi-wind.wi-from-s
      .col-md-4.col-sm-6
        i.wi.wi-wind.wi-from-ssw
        |  wi-wind.wi-from-ssw
      .col-md-4.col-sm-6
        i.wi.wi-wind.wi-from-sw
        |  wi-wind.wi-from-sw
      .col-md-4.col-sm-6
        i.wi.wi-wind.wi-from-wsw
        |  wi-wind.wi-from-wsw
      .col-md-4.col-sm-6
        i.wi.wi-wind.wi-from-w
        |  wi-wind.wi-from-w
      .col-md-4.col-sm-6
        i.wi.wi-wind.wi-from-wnw
        |  wi-wind.wi-from-wnw
      .col-md-4.col-sm-6
        i.wi.wi-wind.wi-from-nw
        |  wi-wind.wi-from-nw
      .col-md-4.col-sm-6
        i.wi.wi-wind.wi-from-nnw
        |  wi-wind.wi-from-nnw
    h3 Beaufort Wind Scale
    .row
      .col-md-4.col-sm-6
        i.wi.wi-wind-beaufort-0
        |  wi-wind-beaufort-0
      .col-md-4.col-sm-6
        i.wi.wi-wind-beaufort-1
        |  wi-wind-beaufort-1
      .col-md-4.col-sm-6
        i.wi.wi-wind-beaufort-2
        |  wi-wind-beaufort-2
      .col-md-4.col-sm-6
        i.wi.wi-wind-beaufort-3
        |  wi-wind-beaufort-3
      .col-md-4.col-sm-6
        i.wi.wi-wind-beaufort-4
        |  wi-wind-beaufort-4
      .col-md-4.col-sm-6
        i.wi.wi-wind-beaufort-5
        |  wi-wind-beaufort-5
      .col-md-4.col-sm-6
        i.wi.wi-wind-beaufort-6
        |  wi-wind-beaufort-6
      .col-md-4.col-sm-6
        i.wi.wi-wind-beaufort-7
        |  wi-wind-beaufort-7
      .col-md-4.col-sm-6
        i.wi.wi-wind-beaufort-8
        |  wi-wind-beaufort-8
      .col-md-4.col-sm-6
        i.wi.wi-wind-beaufort-9
        |  wi-wind-beaufort-9
      .col-md-4.col-sm-6
        i.wi.wi-wind-beaufort-10
        |  wi-wind-beaufort-10
      .col-md-4.col-sm-6
        i.wi.wi-wind-beaufort-11
        |  wi-wind-beaufort-11
      .col-md-4.col-sm-6
        i.wi.wi-wind-beaufort-12
        |  wi-wind-beaufort-12