@model ELibrary.API.Models.TagModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-12">
    <div class="widget">

        <div class="widget-heading">
            <h3 class="widget-title">Tag</h3>
        </div>
        <div class="widget-body">
            <div class="form-group">
                <a href="@Url.Action("Index", "Tag")" style="float:right"> <input type="submit" class="btn btn-primary" value="Tag Listele" /></a>
            </div>
            <form asp-action="Save">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Id" type="hidden" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" id="TagName"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Oluştur" class="btn btn-default" />
                </div>
            </form>

        </div>
    </div>
</div>

<script>
    $('form').submit(function (e) {
        SpinLoader(true);
        e.preventDefault();
        $.ajax({
            url: '/Tag/Save',
            data: $(this).serialize(),
            type: 'POST',
            success: function (data) {
                console.log(data);
                if (data.success) {
                    swal("Basarili!", "Kaydedildi!", "success");
                    document.getElementById("TagName").value = "";
                    SpinLoader(false);
                }
                else {
                    swal("Dikkat!", data.message, "warning");
                }
            },
            error: function () {
                SpinLoader(false);
                swal("Hata!", "Bir sorun oluştu!", "error");
            }
        }).done(function () {
            SpinLoader(false);
        });
    });

</script>