@model ELibrary.API.Models.ContactModel

@{
  ViewBag.Title = "Save";
  Layout = "_Layout";
}

<div class="widget">
  <div class="widget-heading">
    <h3 class="widget-title">Yazar Ekleme</h3>
  </div>
  <div class="widget-body">
      <div class="form-group">
          <form asp-action="Save" method="post" asp-antiforgery="false" enctype="multipart/form-data">
              <input asp-for="Id" type="hidden" />

              <div class="form-group">
                  <label class="control-label">Telefon</label>
                  <input asp-for="PhonuNumber" class="form-control" id="AuthorSurname" />
                  <span asp-validation-for="PhonuNumber" class="text-danger"></span>
              </div>
              <div class="form-group">
                  <label class="control-label">E-mail</label>
                  <input asp-for="SiteMail" class="form-control" id="SiteMail" />
                  <span asp-validation-for="SiteMail" class="text-danger"></span>
              </div>
              <div class="form-group">
                  <label class="control-label">Adres</label>
                  <input asp-for="Adress" class="form-control" placeholder="Adı" id="AuthorName" />
                  <span asp-validation-for="Adress" class="text-danger"></span>
              </div>

              <div class="form-group">
                  <label class="control-label">Map Link</label>
                  <input asp-for="Maps" class="form-control" placeholder="Adı" id="AuthorName" />
                  <span asp-validation-for="Maps" class="text-danger"></span>
              </div>

              <div class="form-group">
                  <input type="submit" value="Oluştur" class="btn btn-default" />
              </div>
          </form>

  </div>
</div>


<script>
    $('form').submit(function (e) {
        SpinLoader(true);
        e.preventDefault();
        $.ajax({
            url: '/Contact/Save',
            data: $(this).serialize(),
            type: 'POST',
            success: function (data) {
                console.log(data);
                if (data.isSuccess) {
                    swal("Basarili!", "Kaydedildi!", "success");
                }
                else {
                    swal("Dikkat!", "Kayıt oluşturulamadı!", "warning");
                }
            },
            error: function () {
                SpinLoader(false);
                swal("Hata!", "Bir sorun oluştu!", "error");
            }
        }).done(function () {
            SpinLoader(false);
        });
    });

</script>