<navigation [pageName]="'Yazar Detay'"></navigation>
<div class="main-content">
  <div class="container">
    <div class="row">
      <div
        class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 sidebar pr-4 mb-4">
        <div class="b-box d-inline-block position-relative w-100">
          <div class="cover position-relative min-h-auto h-auto">
            <img
              src="{{author?.Thumbnail?.SignUrl}}"
              class="position-relative w-100 h-auto d-block"
              alt="cover"
            />
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-9 contentbar mb-3">
        <div class="detailed">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-7 general-info">
              <h6 class="mt-0 mb-3 color-green text-capitalize">
                {{author?.Name}} {{author?.Surname}}
              </h6>
            </div>
<!-- 
            <div class="col-12 col-sm-12 col-md-5 ratenshare text-right">
              <div class="socialized mb-3">
                <span class="position-relative d-inline-block top-minus-05 mr-1"
                  >Paylaş:</span
                >
                <a href="#" class="fb">facebook</a>
                <a href="#" class="tw">twitter</a>
              </div>
            </div> -->
          </div>
          <div class="info-text">
            <p>
            {{author?.Biography}}
              <!-- <a
                href="#"
                class="d-inline-block ml-1 more"
                ><b>Devamı...</b></a
              > -->
            </p>
          </div>
        </div>
      </div>
      <h6 class="mt-3 mb-4">Eserleri</h6>
      <div class="col-12 writer-boox">
           <mixed-books *ngIf="authBooks" [data]="authBooks" ></mixed-books>
      </div>
    </div>
  </div>
</div>
