// Weather Icons
link(rel='stylesheet', type='text/css', href=plugins+'weather-icons/css/weather-icons-wind.min.css')
link(rel='stylesheet', type='text/css', href=plugins+'weather-icons/css/weather-icons.min.css')
// Slick Carousel
link(rel='stylesheet', type='text/css', href=plugins+'slick-carousel/slick/slick.css')
// SpinKit
link(rel='stylesheet', type='text/css', href=plugins+'SpinKit/css/spinners/7-three-bounce.css')