<navigation [pageName]="'Kitap Detay'"></navigation>
<ng-snotify></ng-snotify>

<div class="main-content">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 sidebar pr-4 mb-4">
          <div class="b-box d-inline-block position-relative w-100">
            <div class="favourite m-0 position-absolute" data-trigger="hover" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="423 kişi favorilerine ekledi.">
              <span (click)="favBook(book)" class="selected w-100 h-100 d-inline-block"></span>
            </div>
            <div class="cover position-relative min-h-auto h-auto">
              <img src="{{book?.thumbnail?.signUrl}}" class="position-relative w-100 h-auto d-block" alt="cover">
            </div>
          </div>
          <button class="btn btn-lg btn-green text-left w-100 mt-4 mb-2 pl-5 text-truncate read-it" routerLink="/kitap-oku/{{book?.id}}"
           (click)="beginReading(book)">
           {{(isReading) ? 'Okumaya devam et' : 'Okumaya Başla'}} </button>
          </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-9 contentbar mb-3">
          <div class="detailed">
            <div class="row">
  
              <div class="col-12 col-sm-12 col-md-7 general-info">
                <h6 class="mt-0 mb-3 text-capitalize color-green">{{book?.BookName}}</h6>
                <div class="mb-1">Yazar: <b class="text-capitalize">{{book?.Author?.Name}}</b></div>
                <div class="mb-3">Yayınevi: <b class="text-capitalize">{{book?.Publisher?.Name}}</b></div>
              </div>
            </div>
            <div class="info-text">
              <p>{{book?.BookSummary}}</p>
              </div>
              <div class="more-info">
                <div class="mb-1">
                  Kitap Adı: <b>{{book?.BookName}}</b>
                </div>
                <div class="mb-1">
                  Yazar: <b>{{book?.Author?.Name}}</b>
                </div>
                <div class="mb-1">
                  Yayınevi: <b>{{book?.Publisher?.Name}}</b>
                </div>
                <div class="mb-1">
                  Dili: <b>Türkçe</b>
                </div>
                <div class="mb-1">
                  Format: <b>Epub</b>
                </div>
                <div class="mb-1">
                  ISBN: <b>9789752124516</b>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div> 
