.page-content.container-fluid
  .row
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Simple Line Chart
        .widget-body
          #simple-line-chart.ct-golden-section(style='height: 250px')
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Holes In Data
        .widget-body
          #line-data-holes(style='height: 250px')
  .row
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Filled Holes In Data
        .widget-body
          #line-data-fill-holes.ct-golden-section(style='height: 250px')
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Only Whole Numbers
        .widget-body
          #line-only-integer.ct-golden-section(style='height: 250px')
  .row
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Line Scatter Diagram With Responsive Settings
        .widget-body
          #line-scatter-random.ct-golden-section(style='height: 250px')
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Line Chart With Area
        .widget-body
          #line-area.ct-golden-section(style='height: 250px')
  .row
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Bi-polar Line Chart With Area Only
        .widget-body
          #bipolar-line-area.ct-golden-section(style='height: 250px')
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Using Events To Replace Graphics
        .widget-body
          #line-modify-drawing.ct-golden-section(style='height: 250px')
  .row
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Advanced SMIL Animations
        .widget-body
          #line-svg-animation.ct-golden-section(style='height: 250px')
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title SVG Path Animation
        .widget-body
          #line-path-animation.ct-golden-section(style='height: 250px')
  .row
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Line Interpolation / Smoothing
        .widget-body
          #line-simple-smoothing.ct-golden-section(style='height: 250px')
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Series Overrides
        .widget-body
          #line-series-override.ct-golden-section(style='height: 250px')
  .row
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Bi-polar Bar Chart
        .widget-body
          #bi-polar-bar-interpolated.ct-golden-section(style='height: 250px')
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Overlapping Bars On Mobile
        .widget-body
          #overlapping-bars.ct-golden-section(style='height: 250px')
  .row
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Add Peak Circles Using The Draw Events
        .widget-body
          #bar-with-circle-modify-drawing.ct-golden-section(style='height: 250px')
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Multi-line Labels
        .widget-body
          #multiline-bar.ct-golden-section(style='height: 250px')
  .row
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Stacked Bar Chart
        .widget-body
          #stacked-bar.ct-golden-section(style='height: 250px')
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Horizontal Bar Chart
        .widget-body
          #bar-horizontal.ct-golden-section(style='height: 250px')
  .row
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Extreme Responsive Configuration
        .widget-body
          #bar-extreme-responsive.ct-golden-section(style='height: 250px')
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Distributed Series
        .widget-body
          #bar-distributed-series.ct-golden-section(style='height: 250px')
  .row
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Simple Pie Chart
        .widget-body
          #simple-pie-chart.ct-golden-section(style='height: 250px')
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Pie Chart With Custom Labels
        .widget-body
          #pie-with-custom-labels.ct-golden-section(style='height: 250px')
  .row
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Gauge Chart
        .widget-body
          #simple-gauge-chart.ct-golden-section(style='height: 250px')
    .col-md-6
      .widget
        .widget-heading
          h3.widget-title Animating A Donut With Svg.animate
        .widget-body
          #donut-animation.ct-golden-section(style='height: 250px')