<app-header></app-header> <navigation></navigation>
<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-12 contentbar mb-4">
        <h6 class="color-green d-inline-block mt-1 mb-4">Yayınevleri</h6>
        <div class="clearfix"></div>
        <!-- 
        <div class="text-center mt-1">
          <a href="#" class="d-inline-block px-2 py-1"><b>A</b></a>
          <a href="#" class="d-inline-block px-2 py-1"><b>B</b></a>
          <a href="#" class="d-inline-block px-2 py-1"><b>C</b></a>
          <a href="#" class="d-inline-block px-2 py-1"><b>Ç</b></a>
          <a href="#" class="d-inline-block px-2 py-1"><b>D</b></a>
          <a href="#" class="d-inline-block px-2 py-1"><b>E</b></a>
          <a href="#" class="d-inline-block px-2 py-1"><b>F</b></a>
          <a href="#" class="d-inline-block px-2 py-1"><b>G</b></a>
          <a href="#" class="d-inline-block px-2 py-1"><b>H</b></a>
          <a href="#" class="d-inline-block px-2 py-1"><b>I</b></a>
          <a href="#" class="d-inline-block px-2 py-1"><b>İ</b></a>
          <a href="#" class="d-inline-block px-2 py-1"><b>J</b></a>
          <a href="#" class="d-inline-block px-2 py-1"><b>K</b></a>
          <a href="#" class="d-inline-block px-2 py-1"><b>L</b></a>
          <a href="#" class="d-inline-block px-2 py-1"><b>M</b></a>
          <a href="#" class="d-inline-block px-2 py-1"><b>N</b></a>
          <a href="#" class="d-inline-block px-2 py-1"><b>O</b></a>
          <a href="#" class="d-inline-block px-2 py-1"><b>Ö</b></a>
          <a href="#" class="d-inline-block px-2 py-1"><b>P</b></a>
          <a href="#" class="d-inline-block px-2 py-1"><b>R</b></a>
          <a href="#" class="d-inline-block px-2 py-1"><b>S</b></a>
          <a href="#" class="d-inline-block px-2 py-1"><b>Ş</b></a>
          <a href="#" class="d-inline-block px-2 py-1"><b>T</b></a>
          <a href="#" class="d-inline-block px-2 py-1"><b>U</b></a>
          <a href="#" class="d-inline-block px-2 py-1"><b>Ü</b></a>
          <a href="#" class="d-inline-block px-2 py-1"><b>V</b></a>
          <a href="#" class="d-inline-block px-2 py-1"><b>Y</b></a>
          <a href="#" class="d-inline-block px-2 py-1"><b>Z</b></a>
        </div> -->

        <div class="row">
          <div class="col-12 mt-4" *ngFor="let item of publisher">
            <b>{{ item?.character }}</b>
            <ng-container *ngFor="let alphabeticItem of item?.alphabeticalList">
              <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <a
                  href="#"
                  class="d-inline-block text-truncate w-100 pr-2 pt-2 pb-1"
                  >{{ alphabeticItem?.name }}</a
                >
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
