@model ELibrary.API.Models.PublisherModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="widget">

        <div class="widget-heading">
            <h3 class="widget-title">Yayın Evi</h3>
        </div>
        <div class="widget-body">
            <div class="form-group">
                <a href="@Url.Action("Index", "Publisher")" style="float:right"> <input type="submit" class="btn btn-primary" value="Yayınevi Listele" /></a>
            </div>
            <form asp-action="Save">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Id" type="hidden" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Oluştur" class="btn btn-default" />

                </div>

            </form>

        </div>
    </div>
</div>

<script>
    $('form').submit(function (e) {
        e.preventDefault();
        $.ajax({
            url: '/Publisher/Save',
            data: $(this).serialize(),
            type: 'POST',
            success: function (data) {
                console.log(data);
                if (data.isSuccess) {
                    swal("Basarili!", "Kaydedildi!", "success");
                }
                else {
                    swal("Dikkat!", "Kayıt oluşturulamadı!", "warning");
                }
            },
            error : function() {
                swal("Hata!", "Bir sorun oluştu!", "error");
            }
        });
    });
</script>