<app-header></app-header>
<navigation></navigation>
<div class="main-content">
  <div class="container">

    <div class="row">
      <div class="col-12 contentbar mb-4">
        <div class="detailed">
          <div class="row">

            <div class="col-12 col-sm-12 col-md-12 text-center general-info">
              <h6 class="mt-0 mb-4 color-green text-capitalize">{{publisher?.name}}</h6>
            </div>
          </div>

          <div class="b-box d-inline-block position-relative col-10 offset-1 col-sm-6 offset-sm-3 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
            <div class="cover position-relative min-h-auto h-auto mb-4">
              <img src="http://turgutkarahan.com/boox/img/no-publisher.jpg" class="position-relative w-100 h-auto d-block" alt="cover">
            </div>
          </div>

        </div>

        <div class="col-12 writer-boox">
          <div class="row">
            <div class="col-5 col-sm-7 col-md-8 col-lg-9 pt-2"><h6 class="mt-3 mb-4">Yayınlar</h6></div>
            <div class="col-7 col-sm-5 col-md-4 col-lg-3 pt-2">
              <div class="form-select mb-4">
                <select class="form-control">
                  <option selected="" disabled="">Sırala</option>
                  <option>Son Eklenenler</option>
                  <option>En Çok Okunanlar</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">

            <mixed-books *ngIf="publisherBooks" [data]="publisherBooks"></mixed-books>
          </div>
        </div>
<!-- 
        <nav class="mt-3">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              <span class="page-link">
                <a class="page-link" href="#">
                  <span class="arrow left d-inline-block"></span>
                </a>
              </span>
            </li>
            <li class="page-item active">
              <span class="page-link">
                <a class="page-link" href="#">1</a>
              </span>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">
                <span class="arrow right d-inline-block"></span>
              </a>
            </li>
          </ul>
        </nav> -->

      </div>
    </div>

  </div>
</div>