.footer
  | 2016 &copy;  
  a(href='http://themeforest.net/item/umega-responsive-web-app-kit/15482080') Umega - Responsive Web App Kit
  |  by 
  a(href='http://themeforest.net/user/lethemes', target='_blank') Lethemes.